= twitter_bootstrap_form_for @question, :html => { :class => 'form-horizontal'} do |f|
  = f.text_area :question, :rows => 7, :style => "width:400px;"
  = f.label :type do |controls|
    = controls.radio_button :type, "MultipleChoiceQuestion", "Multiple Choice", :show_block => "#multi_choice_options", :hide_block => "#true_false_options"
    = controls.radio_button :type, "TrueFalseQuestion", "True/False", :hide_block => "#multi_choice_options", :show_block => "#true_false_options"
  #multi_choice_options.answers{:style => ("display:none" unless @question.multi_choice?)}
    = f.label :option_a do |controls|
      = controls.text_field :option_a, :class => "span2 inline" 
      = controls.radio_button :answer, "A", "", :inline => true, :class => "span2 inline"
    = f.label :option_b do |controls|
      = controls.text_field :option_b, :class => "span2 inline" 
      = controls.radio_button :answer, "B", "", :inline => true, :class => "span2 inline"
    = f.label :option_c do |controls|
      = controls.text_field :option_c, :class => "span2 inline" 
      = controls.radio_button :answer, "C", "", :inline => true, :class => "span2 inline"
    = f.label :option_d do |controls|
      = controls.text_field :option_d, :class => "span2 inline" 
      = controls.radio_button :answer, "D", "", :inline => true, :class => "span2 inline"
  .field#true_false_options{:style => ("display:none" unless @question.true_false?)}
    = f.label :answer do |controls|
      = controls.radio_button :answer, "T"
      = controls.radio_button :answer, "F"
  = f.actions do
    = f.submit
    = link_to 'Back to Test', root_url, :class => "btn"