%tr
  %td= question.question
  %td= question.type_s
  %td= question.option_a
  %td= question.option_b
  %td= question.option_c
  %td= question.option_d
  %td= question.answer
  %td= icon("ok") if question.verified?
  %td
    = link_to icon("pencil"), question_path(question), :title => "Edit"
    = link_to icon("remove"), question_path(question), :confirm => 'Are you sure?', :method => :delete, :title => "Delete"
