%h1 Listing questions

%table.table-striped.table
  %tr
    %th Question
    %th= Question.human_attribute_name(:type)
    %th= Question.human_attribute_name(:option_a)
    %th= Question.human_attribute_name(:option_b)
    %th= Question.human_attribute_name(:option_c)
    %th= Question.human_attribute_name(:option_d)
    %th= Question.human_attribute_name(:answer)
    %th= Question.human_attribute_name(:verified)
    %th Actions
    = render :partial => "questions/question_line", :collection => @questions, :as => :question


%br
= will_paginate @posts
= link_to icon_with_text("plus", "New Question"), new_question_path, :class => "btn btn-success"
