%p
  %strong Question:
  = @question.question

%p
  %strong= "#{Question.human_attribute_name(:type)}:"
  = @question.type_s

- if @question.multi_choice?
  %p
    %strong= "#{Question.human_attribute_name(:option_a)}:"
    = @question.option_a

  %p
    %strong= "#{Question.human_attribute_name(:option_b)}:"
    = @question.option_b

  %p
    %strong= "#{Question.human_attribute_name(:option_c)}:"
    = @question.option_c

  %p
    %strong= "#{Question.human_attribute_name(:option_d)}:"
    = @question.option_d

%p
  %strong= "#{Question.human_attribute_name(:answer)}:"
  = @question.answer

- if @question.verified?
  %p
    = Question.human_attribute_name(:verified)
.form-actions
  - unless @question.verified?
    = link_to icon_with_text("ok", "Verify"), verify_question_path(@question), :method => :post, :class => "btn btn-success"
  = link_to icon_with_text("remove", "Destroy"), question_path(@question), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"
  = link_to 'Back', questions_path, :class => "btn"
