<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b><%= Question.human_attribute_name(:type)%>:</b>
  <%= @question.type_s %>
</p>

<% if @question.multi_choice? -%>
<p>
  <b><%= Question.human_attribute_name(:option_a)%>:</b>
  <%= @question.option_a %>
</p>

<p>
  <b><%= Question.human_attribute_name(:option_b)%>:</b>
  <%= @question.option_b %>
</p>

<p>
  <b><%= Question.human_attribute_name(:option_c)%>:</b>
  <%= @question.option_c %>
</p>

<p>
  <b><%= Question.human_attribute_name(:option_d)%>:</b>
  <%= @question.option_d %>
</p>
<% end -%>
<p>
  <b><%= Question.human_attribute_name(:answer)%>:</b>
  <%= @question.answer %>
</p>
<% unless @question.verified? -%>
  <%= form_tag verify_question_path(@question), :method => :post do %>
    <%= submit_tag("Verify") %>
  <% end -%>
<% else -%>
  <p>
    <b><%= Question.human_attribute_name(:verified)%></b>
  </p>
<% end -%>

<%= link_to 'Destroy', question_path(@question), :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Back', questions_path %>
