%h1= Option.get("test_title")
- if @true_false.size > 0 #use size to count in ruby
  %h2 True/False
  - @true_false.each do |question|
    = "#{@question_number += 1}) _____ #{question.question}"
    %br
- if @multi_choice.size > 0 #use size to count in ruby
  %h2 Multiple Choice
  - @multi_choice.each do |question|
    = "#{@question_number += 1}) _____ #{question.question}"
    %ul{:style => "list-style-type:upper-alpha"}
      %li= question.option_a
      %li= question.option_b
      %li= question.option_c
      %li= question.option_d
    %br

%h1{:style => "page-break-before:always"} Key
- @question_number = 0
- if @true_false.size > 0 #use size to count in ruby
  %h2 True/False
  - @true_false.each do |question|
    = "#{@question_number += 1}) #{question.answer}"
    %br
- if @multi_choice.size > 0 #use size to count in ruby
  %h2 Multiple Choice
  - @multi_choice.each do |question|
    = "#{@question_number += 1}) #{question.answer}"
    %br
%br
= link_to icon_with_text("plus", "Suggest New Question"), new_question_path, :class => "btn btn-success"