<h1>Rules Test</h1>
<h2>True/False</h2>
<% @true_false.each do |question| -%>
  <%= @question_number += 1 %>) _____ <%= question.question %><br/>
<% end -%>
<h2>Multiple Choice</h2>
<% @multi_choice.each do |question| -%>
  <%= @question_number += 1 %>) _____ <%= question.question %>
  <ul style="list-style-type:upper-alpha">
    <li><%= question.option_a %></li>
    <li><%= question.option_b %></li>
    <li><%= question.option_c %></li>
    <li><%= question.option_d %></li>
  </ul>
<% end %>
<h1 style="page-break-before:always">Key</h1>
<% @question_number = 0 -%>
<h2>True/False</h2>
<% @true_false.each do |question| -%>
  <%= @question_number += 1 %>) <%= question.answer %>
<% end -%>
<h2>Multiple Choice</h2>
<% @multi_choice.each do |question| -%>
  <%= @question_number += 1 %>) <%= question.answer %>
<% end %>
<br/>
<%= link_to "Suggest New Question", new_question_path() %>