!!! 5
%html
  %head
    %title= Option.get("test_title")
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    %ul.navigation
      %li= link_to "View Test", root_path
      %li= link_to "Questions", questions_path
      %li= link_to "System Settings", options_path
      %li.right= link_to "Logout", logout_path
    = render :partial => "shared/flash"
    = yield