!!! 5
%html
  %head
    %title= Option.get("test_title")
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = stylesheet_link_tag :print, :media => "print"
    = csrf_meta_tag
    = yield(:head)
    %body
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = link_to Option.get("test_title"), root_path, :class => 'brand'          
            %ul.nav
              - if user_signed_in?
                %li= link_to "View Test", root_path
                %li= link_to "Questions", questions_path
                %li= link_to "System Settings", options_path
                %li.right= link_to "Logout", logout_path
              - else
                %li= link_to "Admin", questions_path
      #main{:role => "main"}
        .container
          .content
            .row
              .span12
                = render :partial => "shared/flash"
                = yield